{
	"extends": ["react-app", "prettier", "prettier/react"],
	"plugins": ["prettier", "react", "compat", "webdriverio", "chai-friendly"],
	"env": {
		"webdriverio/wdio": true,
		"jest": true,
		"mocha": true
	},
	"rules": {
		"compat/compat": "error",
		"camelcase": "error",
		"eqeqeq": "error",
		"no-eval": "error",
		"no-extend-native": "error",
		"no-multi-str": "error",
		"no-unused-vars": ["warn", { "varsIgnorePattern": "ShallowWrapper" }],
		"no-var": "error",
		"prefer-const": "error",
		"no-console": "off",
		"arrow-spacing": "error",
		"block-spacing": "error",
		"brace-style": "error",
		"constructor-super": "error",
		"lines-between-class-members": "error",
		"no-multiple-empty-lines": "error",
		"no-multi-spaces": "error",
		"rest-spread-spacing": "error",
		"prettier/prettier": "error",
		"no-unused-expressions": 0,
		"chai-friendly/no-unused-expressions": 2
	},
	"globals": {
		"browser": true
	},
	"settings": {
		"polyfills": ["Object.assign", "Promise", "fetch"]
	}
}
