{
	"trailingComma": "es5",
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"endOfLine": "lf",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"proseWrap": "never",
	"printWidth": 100
}
