@import '../../../assets/styleHelpers/index';

.delete__confirm {
	text-align: center;

	&__header {
		@include sectionHeader(20px);
	}

	&__context {
		margin: 20px;

		color: $dark_gray;
		font-size: 15px;
	}

	&__buttons-wrapper {
		width: 100%;
		padding: 10px;
	}
}
