@import '../styleHelpers/mediaQueries';

@mixin sectionHeader($font-size) {
	margin: 1em 0.66em;
	padding: 0.66em;

	color: $light_gray;
	font-size: $font-size;
	font-family: $secondary_font;
	text-align: center;
	text-shadow: $text-shadow;

	background-color: $primary_blue;
	border-radius: 0.33em;
	box-shadow: $inset-shadow;
}

@mixin sectionContainer {
	max-width: 1000px;
	margin: 20px auto;
	padding: 20px;

	background-color: $white;
	border-radius: 3px;
	box-shadow: $shadow;

	@include sm-phone-size {
		padding: 10px;
	}
}
