@import '../../../assets/styleHelpers/index';

.StatusScreen {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;

	&--fullview {
		height: 100vh;
	}

	&--transparent {
		background-color: transparent;
	}

	&--blue {
		background-color: $primary_light_blue;
	}
}
