@import '../../../assets/styleHelpers/index';

$buttonColors: (
	red: $red,
	green: $green,
	white: $white,
	blue: $blue,
);

$fontSizes: (
	small: 11px,
	medium: 14px,
	large: 17px,
);

.button {
	font-family: $secondary_font;
	font-weight: 900;
	padding: 10px 20px;
	margin: 0 10px;
	box-shadow: $small_shadow;
	border-radius: 5px;
	border: none;
	outline: none;
	transition: background-color 0.1s ease-out;
	cursor: pointer;

	&:disabled {
		color: $white !important;
		background-color: $gray !important;
		cursor: not-allowed;
	}

	// Creates separate styles for each button color
	@each $name, $color in $buttonColors {
		$font-color: $white;

		@if $name == white {
			$font-color: $dark_gray;
		}

		&.#{$name} {
			background-color: $color;
			color: $font-color;

			&:active {
				background-color: darken($color: $color, $amount: 10%);
			}
		}
	}

	@each $name, $size in $fontSizes {
		$padding-vertical: $size - 4px;
		$padding-horizontal: $size + 4px;

		&.button--#{$name} {
			font-size: $size;
			padding: $padding-vertical $padding-horizontal;
		}
	}
}

.text-button {
	font-family: $secondary_font;
	border: none;
	outline: none;
	background-color: transparent;
	text-decoration: underline;
	transition: color 0.1s ease-out;
	cursor: pointer;

	&:disabled {
		color: $gray !important;
		cursor: not-allowed;
	}

	@each $name, $color in $buttonColors {
		&.#{$name} {
			color: $color;

			&:hover {
				color: darken($color: $color, $amount: 10%);
			}
		}
	}

	@each $name, $size in $fontSizes {
		$padding-vertical: $size - 4px;
		$padding-horizontal: $size + 4px;

		&.button--#{$name} {
			font-size: $size;
			padding: $padding-vertical $padding-horizontal;
		}
	}
}
