@import '../../../assets/styleHelpers/index';

$buttonColors: (
	red: $red,
	green: $green,
	white: $white,
	blue: $blue,
);

.nav-button-wrapper {
	display: flex;
	align-items: center;

	& .nav-button {
		width: 100%;
		margin: 0 10px;

		padding: 10px 20px;

		font-weight: 900;
		font-size: 14px;
		font-family: $secondary_font;

		border: none;
		border-radius: 5px;
		outline: none;

		box-shadow: $small_shadow;

		cursor: pointer;

		transition: background-color 0.1s ease-out;

		@include tablet-size {
			margin-top: 10px;
			margin-bottom: 10px;

			box-shadow: none;
		}

		// Creates separate styles for each button color
		@each $name, $color in $buttonColors {
			$font-color: $white;

			@if $name == white {
				$font-color: $dark_gray;
			}

			&.#{$name} {
				color: $font-color;

				background-color: $color;

				&:active {
					background-color: darken($color: $color, $amount: 10%);
				}
			}
		}
	}
}
