@import '../../../assets/styleHelpers/index';

.notification {
	display: flex;
	flex-wrap: wrap;
	max-width: 1300px;
	margin: auto;

	&__row {
		display: flex;
		width: calc(100% - 20px);
		margin: 10px;

		@include sm-tablet-size {
			&:not(:first-of-type) {
				flex-direction: column;
			}
		}

		@include sm-phone-size {
			flex-direction: column;
		}
	}

	&__col-1,
	&__col-2 {
		display: flex;
		flex: 1;
		flex-direction: column;
		min-width: 300px;

		&:not(:last-of-type) {
			margin-right: 20px;
		}

		@include sm-tablet-size {
			margin-right: 0 !important;

			&:not(:last-of-type) {
				margin-bottom: 20px;
			}
		}
	}

	&__col-2 {
		flex: 2;
	}

	&__container {
		background-color: $white;
		border-radius: 3px;
		box-shadow: $shadow;
	}

	&__header,
	&__basic-info,
	&__more-info {
		padding: 10px;
	}

	&__header {
		align-items: center;
		justify-content: space-around;
		margin: 10px;
	}

	&__basic-info {
		margin-bottom: 5px;

		color: $light_gray;

		background-color: $primary_light_blue;
		border-radius: 3px;
	}

	&__more-info {
		border-top: 5px solid $primary_light_blue;
	}

	&__map {
		width: 100%;
		height: 100%;
		min-height: 50vh;
		overflow: hidden;

		border-radius: 3px;
		box-shadow: $shadow;
	}

	&__photos {
		& .gallery {
			margin-right: 0;
			margin-left: 0;
		}

		& .input-wrapper {
			margin: auto;
		}
	}

	.button.notification__subscribe {
		&--long {
			width: 156px;
			height: 28px;
			padding: 0;
		}

		&--short {
			width: 86px;
			height: 28px;
			padding: 0;
		}
	}
}
