@import '../../../assets/styles/index';

.signup {
	position: relative;
	min-width: 310px;
	max-width: 600px;
	height: 541px;
	text-align: center;

	& p[class^='status'] {
		margin: 0;
	}

	&__header {
		font-size: 20px;
		font-family: $secondary_font;
		color: $light_gray;
		background-color: $primary_blue;
		margin: 15px 10px;
		padding: 10px;
		border-radius: 5px;
		box-shadow: $inset-shadow;
		text-shadow: $text-shadow;
	}

	&__description {
		font-size: 15px;
		margin: 10px;
		color: $dark_gray;
	}

	&__form {
		display: flex;
		flex-wrap: wrap;

		& > * {
			flex: 1;
		}
	}

	&__buttons-wrapper {
		margin-top: 20px;
		margin-bottom: 10px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	&__agreements-wrapper {
		text-align: center;
		padding: 10px;
		min-width: 100%;
	}

	@media only screen and (max-width: 550px) {
		&__required {
			min-width: 100%;
			margin-bottom: 20px;
		}
	}
}
