@import '../../../assets/styleHelpers/index';

.comment-list {
	padding: 0;
}

.comment {
	list-style: none;
	padding: 15px;
	margin: 10px 0;
	background: lighten($primary_light_blue, 30%);

	&__header-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__header {
		color: $black;
		font-size: 12px;

		& > p {
			color: $dark-gray;
			margin: 0;
		}
	}

	&__text {
		font-size: 14px;
	}
}
