@import '../../../assets/styles/index';

.popup-container {
	display: flex;
	position: relative;
	min-width: 300px;
	min-height: 200px;
	justify-content: center;
	align-content: stretch;
	background-color: $white;
	border-radius: 5px;
	box-shadow: $shadow;
	padding: 15px;
	animation: 0.2s 1 forwards resize;

	& > *:not(button) {
		min-width: 100%;
		min-height: 100%;
		border-radius: 5px;
		overflow: hidden;
	}
}

@keyframes resize {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}
