@import '../../../assets/styles/index';

.form-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 1px solid $gray;
	position: relative;
	margin: 10px;
	padding: 5px;
	border-radius: 3px;

	&::before {
		content: attr(data-name);
		display: block;
		position: absolute;
		padding: 0 5px;
		top: 0;
		left: 1.3em;
		transform: translateY(-60%);
		line-height: 1;
		font-size: 16px;
		color: $dark-gray;
		z-index: 10;
		background-color: $white;
		overflow: hidden;
		text-align: center;
	}

	&--column {
		flex-direction: column;
	}

	&--row {
		flex-direction: row;
	}
}
