@import '../../assets/styleHelpers/index';

div.leaflet-bar {
	border: 0 !important;
	box-shadow: $small_shadow !important;

	a {
		color: $white;

		background-color: $primary_dark_blue;
		border: 1px solid $primary_blue;
		opacity: 0.8;

		transition: opacity 0.2s linear;

		&:hover {
			color: $white;

			background-color: $primary_dark_blue;
			opacity: 1;
		}
	}
}

.leaflet-left {
	left: 50%;

	transform: translateX(-50%);

	@include phone-size {
		left: 0;

		transform: none;
	}
}

.leaflet-left,
.leaflet-right,
.leaflet-top,
.leaflet-bottom,
.leaflet-control {
	z-index: 499;
}
