@import '../../../assets/styleHelpers/index';

.new-notification {
	.section {
		@include sectionContainer;

		&__row {
			display: flex;
			flex-wrap: wrap;

			& > * {
				flex: 1;
				min-width: 285px;
			}
		}

		&__header {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 110px;
			height: 50px;
			margin-top: -20px;
			padding: 5px;

			color: $primary_dark_blue;
			font-size: 16px;
			font-family: $secondary_font;

			background-color: $yellow;
			border-bottom-right-radius: 50%;
			border-bottom-left-radius: 50%;
		}

		&__description {
			padding: 10px;

			color: $dark-gray;
		}

		.legend {
			display: flex;

			@include phone-size {
				flex-direction: column;
			}

			&__option {
				display: flex;
				flex: 1;
				flex-direction: column;
				margin: 10px;
				padding: 15px;

				font-weight: lighter;
				font-size: 14px;

				background-color: $light_gray;
				border: 1px solid $gray;
				border-radius: 5px;

				@include phone-size {
					flex-direction: row;
					align-items: center;
				}

				&::before {
					margin-bottom: 10px;

					color: gray;
					font-size: 40px;
					text-align: center;

					@include phone-size {
						flex-direction: row;
						margin-right: 10px;
						margin-bottom: 0;
					}
				}

				&[class*=' icons_nature__']::before {
					color: $green;
				}

				&[class*=' icons_damage__']::before {
					color: $yellow;
				}

				&[class*=' icons_dangerous__']::before {
					color: $red;
				}

				&[class*=' icons_trashes__']::before {
					color: $darker_gray;
				}
			}
		}

		&__desctiption-field {
			height: 200px;
		}

		&__map {
			height: 230px;
			margin: 10px;
			overflow: hidden;

			border: 1px solid $gray;
			border-radius: 5px;
		}
	}

	.button-section {
		width: 100%;
		padding: 10px 0 20px 0;

		text-align: center;
	}
}
