@import '../styleHelpers/index';

// Styles for scrollbar
.scroller {
	overflow-y: auto;
	// styles for firefox
	scrollbar-color: darken($color: $gray, $amount: 10%) $light_gray;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 9px;
	}

	&::-webkit-scrollbar-track {
		border-radius: 3px;
		background: $light_gray;
		margin: 0.5em;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 3px;
		background: $gray;
	}
}
