@import '../../../assets/styleHelpers/index';

.settings {
	@include sectionContainer;

	&__header {
		width: 100%;

		text-align: center;
	}

	& > form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 50px;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;

		& > * {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-evenly;
			min-width: 280px;
			margin: 1em;
		}
	}
}

.update-status-wrapper {
	height: 40px;
}
