@import '../../../assets/styleHelpers/index';

.search {
	box-sizing: content-box;
	width: 250px;
	height: 40px;
	margin: 10px;
	padding: 5px;

	color: $white;
	line-height: 30px;
	text-align: center;

	background-color: $primary_dark_blue;
	border: 0 !important;
	border-radius: 3px;
	box-shadow: $small_shadow !important;
	opacity: 0.8;

	transition: opacity 0.2s linear;

	&__close-button {
		display: none;
		width: 100%;
		margin: 2px;
		margin-bottom: 10px;

		font-weight: bold;
		font-size: 13px;
		line-height: 1.5em;

		border: none;
		border-radius: 3px;
		outline: none;
		cursor: pointer;
	}

	@include phone-size {
		&--focused {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1000 !important;

			box-sizing: border-box;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 10px;

			border-radius: 0;
			opacity: 1;

			& .search__close-button {
				display: block;
			}

			@include phone-size {
				& .search__control {
					align-items: center;
					height: unset;
				}
			}
		}
	}

	&:hover {
		opacity: 1;
	}

	&__control {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		height: 100%;

		&::before {
			min-width: 30px;
			max-width: 30px;
			height: 30px;

			color: $white;
			line-height: 30px;
		}
	}

	&__field {
		width: 100%;
		margin: 2px;
		padding: 7px 5px;

		color: $dark_gray;
		font-size: 15px;

		border: none;
		border-radius: 3px;
		outline: none;
	}

	&__list {
		position: absolute;
		top: 100%;
		left: 0;

		width: 100%;
		max-height: 200px;
		margin: 1px 0;
		padding: 5px 10px;
		overflow: auto;

		color: $darker_gray;
		text-align: left;

		list-style: none;
		background-color: $white;
		border-radius: 3px;
		box-shadow: $small_shadow;

		@include phone-size {
			position: static;

			width: unset;
			max-height: unset;
			margin: 10px 2px;
		}
	}

	&__item {
		display: block;
		margin-bottom: 5px;
		padding: 5px;

		background-color: $gray;
		border-radius: 3px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&:hover {
			background-color: lighten($primary_light_blue, 10%);
		}

		&-city {
			margin: 5px 0;

			font-weight: bold;
			font-size: 13px;
			line-height: 1em;
		}

		&-region {
			margin: 5px 0;

			font-size: 12px;
			line-height: 1em;
		}
	}

	[class*='icons_loader']::before {
		animation: rotate infinite 2s cubic-bezier(0.28, 0.81, 1, 1);
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
