@import '../../../assets/styles/index';

.Modal-container {
	display: flex;
	flex-direction: column;
	position: relative;
	min-width: 290px;
	max-width: calc(100% - 26px);
	min-height: 200px;
	max-height: calc(100% - 26px);
	align-content: stretch;
	background-color: $white;
	border-radius: 5px;
	box-shadow: $shadow;
	padding: 15px;
	margin: 13px;
	animation: 0.5s 1 forwards resize;

	& > *:not(button) {
		min-width: 100%;
		min-height: 100%;
		border-radius: 5px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	&__extra-message {
		font-size: 12px;
		background-color: $red;
		color: $white;
		padding: 5px;
		width: 250px;
		text-align: center;
	}
}

@keyframes resize {
	0% {
		transform: scale(0);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
