@import '../../../assets/styleHelpers/index';

.map-view {
	position: absolute;
	bottom: 0;

	width: 100%;
	height: calc(100% - 60px);
	overflow: hidden;

	@media only screen and (max-width: 950px) {
		height: calc(100% - 50px);
	}

	&__loader-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 550;

		display: flex;
		margin: 0;

		color: $blue;
		font-weight: bold;
		font-size: 13px;

		transform: translate(-50%, -50%);

		& .Loader {
			text-align: center;

			&::after {
				color: $blue;
			}
		}

		& .status-component {
			padding: 5px;

			text-align: center;

			background-color: $white;
			border-radius: 5px;

			&::after {
				color: $blue;
			}
		}
	}
}
