@import '../../assets/styleHelpers/index';

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;

	font-family: $primary_font;
}

main {
	display: block;
}

.App {
	min-width: 100%;
	min-height: 100vh;

	color: $darker_gray;

	background-color: $light-gray;
}
