@import '../../assets/styles/index';

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: $primary_font;
}

.App {
	background-color: $light-gray;
	color: $darker_gray;
	min-width: 100%;
	min-height: 100vh;
}
