@import '../../../assets/styleHelpers/colors';

.close-button {
	position: absolute;
	top: -20px;
	right: -20px;
	z-index: 600;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;

	background-color: transparent;
	border: 0;
	border-radius: 50%;
	outline: 0;
	cursor: pointer;

	&::before {
		margin: 0;
		padding: 0 !important;

		color: aliceblue;
		font-size: 26px !important;
		line-height: 1em;

		background-color: $primary_dark_blue;
		border: 3px solid $primary_dark_blue;
		border-radius: 50%;
		box-shadow: -1px 1px 3px 0 rgb(65, 65, 65);
	}
}
