// Main Colors
$primary_light_blue: #829cbc;
$primary_blue: #3a5784;
$primary_dark_blue: #1d3461;

$light_gray: #f0f0f0;
$gray: #c9c9c9;
$dark_gray: #5e5e5e;
$darker_gray: #414141;

// Additional Colors
$white: #fff;
$black: #222222;
$red: #db504a;
$green: #397367;
$blue: #266dd3;
$yellow: #ecc320;
