@import './colors.scss';

/*
 * Font Family
 */
$primary_font: 'Lato', sans-serif;
$secondary_font: 'Montserrat', sans-serif;

// Font Wights
$primary_weight_light: 300;
$primary_weight_regular: 400;
$primary_weight_bold: 700;

$secondary_weight_medium: 600;
$secondary_weight_bold: 700;

// Font Sizes
$primary_small: 12px;
$primary_medium: 16px;
$primary_larger: 18px;
$primary_big: 20px;
$primary_huge: 25px;

$secondary_small: 14px;
$secondary_medium: 16px;
$secondary_big: 30px;
