/*
 * Colors
 */
$primary_light_blue: #5d98f5;
$primary_blue: #6983b4;
$primary_dark_blue: #3a5784;
$primary_darker_blue: #012e57;

$light_gray: #f0f0f0;
$gray: #c9c9c9;
$dark_gray: #5e5e5e;

$white: #fff;
$black: #000;
$red: #ea1515;
$green: #3a8466;
$blue: #3d7fe8;
